<artile class="post">
    <header>
        <h2 class="post__title">
            lorem ipsun dolor
        </h2>
    </header>
    <div class="post__body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem deserunt reprehenderit ex earum magni. Suscipit temporibus et at a ex ad impedit esse harum iste, vero culpa porro illum fugit natus quas earum molestiae tempore soluta cum dolorem? Maiores veritatis laudantium iste mollitia, impedit pariatur delectus debitis ratione perferendis maxime.
    </div>
</artile>